//colors
$white: #fff;
$white_80: rgba(255, 255, 255, 0.8);
$white_0: rgba(255, 255, 255, 1);
$color_alto_approx: #ddd;
$color_spray_approx: #81e8f6;
$color_congress_blue_approx: #055194;
$color_blue_whale_approx: #062745;
$color_royal_blue_approx: #376ed8;
$black_40: rgba(0, 0, 0, 0.4);
$black_10: rgba(0, 0, 0, 0.1);
$black: black;
$color_alice_blue_90_approx: rgba(240, 245, 255, 0.9);
$color_pattens_blue_80_approx: rgba(225, 238, 255, 0.8);
$color_dodger_blue_40_approx: rgba(43, 130, 255, 0.4);
//fonts
$font: "sans-serif";
$font_small: 15px;
$font_large: 20px;
//@extend-elements
//original selectors