@import 'vars';
@import 'mixins';

%extend_1 {
    background-color: $white;
    text-align: center;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: $font;
    font-size: $font_small;
}

%extend_2 {
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

%opacity {
    @include prefix(transition, opacity 500ms 300ms, webkit ms moz o);
}

html {
    @extend %extend_1;
}

body {
    @extend %extend_1;
}

* {
    outline: none;
    font-family: $font;
}

ul {
    padding: 0;
    width: 90%;
    margin: 0 auto;
}

li {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: $white;
    border: 1px solid $color_royal_blue_approx;
    opacity: 0;
    color: $color_royal_blue_approx;
    font-size: $font_large;
    @extend %opacity;
    &.show {
        opacity: 1;
    }
}

#bubbels {
    width: 100%;
    height: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.ball {
    @extend %extend_2;
    position: absolute;
    display: inline-block;
    width: 150px;
    height: 150px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 100%;
    position: relative;
    background: radial-gradient(circle at bottom, $color_spray_approx, $color_spray_approx 10%, $color_congress_blue_approx 80%, $color_blue_whale_approx 100%);
    padding: 0;
    border: none;
    cursor: pointer;
    position: absolute;
    //Instead of the line below you could use @include transition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
    transition-property: top, bottom, left, right;
    //Instead of the line below you could use @include transition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
    transition-timing-function: linear;
    //Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
    transition-duration: 500ms;
    span {
        @extend %extend_2;
        position: absolute;
        /*top: 50%;*/
        height: 20px;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        /*transform: translateY(-50%);*/
        color: $color_royal_blue_approx;
        font-family: $font;
        font-size: $font_small;
    }
    &:before {
        content: "";
        position: absolute;
        top: 1%;
        left: 5%;
        width: 90%;
        height: 90%;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 100%;
        background: radial-gradient(circle at top, $white, $white_0 58%);
        z-index: 2;
    }
    &:after {
        content: "";
        position: absolute;
        display: none;
        top: 5%;
        left: 10%;
        width: 80%;
        height: 80%;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 100%;
        z-index: 2;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        // transform: rotateZ(-30deg);
        @include prefix(transform, rotateZ(-30deg), webkit ms moz o);
    }
    &.top {
        top: -350px;
        left: 0;
    }
    &.right {
        top: 0;
        right: -350px;
    }
    &.bottom {
        bottom: -350px;
        left: 0;
    }
    &.left {
        left: -350px;
        top: 0;
    }
    &.stop {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
    }
    .shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, $black_40, $black_10 40%, rgba(0, 0, 0, 0) 50%);
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        // transform: rotateX(90deg) translateZ(-160px);
        @include prefix(transform, rotateX(90deg) translateZ(-160px), webkit ms moz o);
        z-index: 1;
    }
    &.plain {
        background: $black;
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
    }
    &.bubble {
        background: radial-gradient(circle at 50% 55%, $color_alice_blue_90_approx, $color_alice_blue_90_approx 40%, $color_pattens_blue_80_approx 60%, $color_dodger_blue_40_approx);
        animation: bubble-anim 2s ease-out infinite;
        &:before {
            height: 80%;
            width: 40%;
            background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, $white_80 50%, $white_80 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            // transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
            @include prefix(transform, translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg), webkit ms moz o);
        }
        &:after {
            display: block;
            background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, $white 80%, $white 84%, rgba(255, 255, 255, 0) 100%);
        }
    }
}

.stage {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 20px;
    //Instead of the line below you could use @include perspective($p)
    perspective: 1200px;
    //Instead of the line below you could use @include perspective-origin($origin)
    perspective-origin: 50% 50%;
}

.cities_list {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    z-index: 0;
}

.cities_list.active {
    z-index: 5;
}

.back {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 20;
    opacity: 0;
    cursor: pointer;
    padding: 0;
    border: none;
    background: transparent;
    @extend %opacity;
    span {
        display: inline-block;
        vertical-align: middle;
        font-size: $font_large;
        margin-right: 10px;
    }
    span:first-child {
        width: 0;
        height: 0;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-right: 30px solid $color_royal_blue_approx;
        border-left: transparent;
        background: transparent;
    }
    &:hover span:first-child {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-right: 30px solid #000;
    }
}

.back {
    &.show {
        opacity: 1;
    }
}


/**
 * Loader
 */

.showbox {
    position: fixed;
    @extend %extend_2;
    z-index: 50;
    background: rgba(0, 0, 0, 0.7);
}

.hide {
    &.showbox {
        display: none;
    }
    &.loader {
        display: none;
    }
}

.loader {
    @extend %extend_2;
    position: absolute;
    margin: 0 auto;
    width: 100px;
    top: 50%;
    left: 0;
    right: 0;
    @include prefix(transform, translateY(-50%), webkit ms moz o);
}

.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.circular {
    @include prefix(animation, rotate 2s linear infinite, webkit ms moz o);
    height: 100%;
    @include prefix(transform-origin, center center, webkit ms moz o);
    width: 100%;
    position: absolute;
    @extend %extend_2;
}

.path {
    -webkit-stroke-dasharray: 1, 200;
    -moz-stroke-dasharray: 1, 200;
    -ms-stroke-dasharray: 1, 200;
    -o-stroke-dasharray: 1, 200;
    stroke-dasharray: 1, 200;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    -moz-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    -o-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    -ms-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    @include prefix(stroke-linecap, round, webkit ms moz o);
    @include prefix(stroke-dashoffset, 0, webkit ms moz o);
}

// #outer-dropzone {
//     height: 140px;
// }
#inner-dropzone {
    width: 100%;
}

.dropzone {
    background-color: #ccc;
    border: dashed 4px transparent;
    // border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    box-sizing: border-box;
    width: 90%;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    box-sizing: border-box;
    opacity: 0;
    margin: 0 auto;
    font-size: $font_large;
    @extend %opacity;
}

.dropzone.show {
    opacity: 1;
}

.drop-active {
    border-color: #aaa;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    display: inline-block;
    min-width: 40px;
    padding: 2em 0.5em;
    color: #fff;
    background-color: #29e;
    border: solid 2px #fff;
    @include translate(transform, translate, 0, 0, webkit ms moz o);
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}

.drag-drop.can-drop {
    color: #000;
    background-color: #4e4;
}


/**
 * Bubbles
 */

@-webkit-keyframes bubble-anim {
    0% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(1);
    }
    20% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scaleY(0.95) scaleX(1.05);
    }
    48% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scaleY(1.1) scaleX(0.9);
    }
    68% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scaleY(0.98) scaleX(1.02);
    }
    80% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scaleY(1.02) scaleX(0.98);
    }
    97% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(1);
    }
    100% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(1);
    }
}

@keyframes bubble-anim {
    0% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(1);
    }
    20% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scaleY(0.95) scaleX(1.05);
    }
    48% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scaleY(1.1) scaleX(0.9);
    }
    68% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scaleY(0.98) scaleX(1.02);
    }
    80% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scaleY(1.02) scaleX(0.98);
    }
    97% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(1);
    }
    100% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(1);
    }
}


/**
 * Loader
 */

@-webkit-keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@-webkit-keyframes color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}